<div class="section-heading">
  <h6>Working Method</h6>
</div>
<div>
  <p class="ry_p">Our exclusive working method is divided into two stages. The initial report and the official request. You will read about it through the sub-links of this section.</p>
  <p class="ry_p">What you must remember from this method is that we have developed it so that it leaves nothing to chance and especially that it allows no evaluation lightly.</p>
  <p class="ry_p">We believe that a responsible person will want to know the different criteria, the points she obtains under the various laws, the advice to improve her file, that she will want to be adequately prepared for the important stage of the interview by knowing the strengths and weaknesses of his record etc.</p>
  <p class="ry_p">We are therefore totally against, for a procedure as important as immigration, the summary evaluations or the filing of official applications at random. With us, your path to Visa is fully marked by experience and professionalism that has been proven for more than two decades.</p>
  <p class="ry_p">Once you start your formal application, you will have access to a technology that will allow you to track your file in real time and receive automatic emails for each milestone.</p>
</div>
