<!-- <p>
  admin works!
  <a href="#" (click)="gotoHomePage()">Disconnect</a>
</p> -->


<!-- ##### Header Area Start ##### -->
<header class="header-area">
  
  <!-- Top Header Area -->
  <div class="top-header-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="top-header-content d-flex align-items-center justify-content-between">
            <!-- Logo -->
            <div class="logo">
              <a href="index.html"><img src="assets/img/core-img/logo.png" alt=""></a>
            </div>
            
            <!-- Login Search Area -->
            <div class="login-search-area d-flex align-items-center">
              <!-- Login -->
              <div class="login d-flex">
                <a href="#" (click)="gotoLoginPage()">Sign Out</a>
                <a href="#">Register</a>
              </div>
              <select class="form-control" name="lang" id="lang">
                <option value="">Language</option>
                <option value="">English</option>
                <option value="">Français</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Navbar Area -->
  <div class="newspaper-main-menu" id="stickyMenu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="newspaperNav">
          
          <!-- Logo -->
          <div class="logo">
            <a href="index.html"><img src="assets/img/core-img/logo.png" alt=""></a>
          </div>
          
          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>
          
          <!-- Menu -->
          <div class="classy-menu">
            
            <!-- close btn -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            
            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li class="active"><a href="index.html">Dashboard</a></li>
                <li><a href="#">Settings</a>
                  <div class="megamenu row">
                    <ul class="single-mega col-2">
                    </ul>
                    <ul class="single-mega col-6">
                      <li class="title"><a href="index.html">What we can bring you</a></li>
                      <li class="title"><a href="index.html">Working Method</a></li>
                      <li class="title"><a href="index.html">The Initial Request</a></li>
                      <li class="title"><a href="index.html">Fees and Terms of Payment</a></li>
                      <li class="title"><a href="index.html">assistance service on arrival</a></li>
                    </ul>
                    <ul class="single-mega col-1">
                    </ul>
                    <div class="post-thumb col-3">
                      <a href="#"><img src="assets/img/bg-img/primetravel_our-services.jpeg" alt=""></a>
                    </div>
                  </div>
                </li>
                <li><a href="#">Choose Us</a></li>
                <li><a href="#">Pages</a>
                  <div class="megamenu row">
                    <ul class="single-mega col-1">
                    </ul>
                    <ul class="single-mega col-4">
                      <li class="title"><a href="index.html">Provencial Immigration</a></li>
                      <li class="title"><a href="index.html">Canadian Experience Class</a></li>
                      <li class="title"><a href="index.html">The Initial Request</a></li>
                      <li class="title"><a href="index.html">Fees and Terms of Payment</a></li>
                      <li class="title"><a href="index.html">assistance service on arrival</a></li>
                    </ul>
                    <ul class="single-mega col-4">
                      <li class="title"><h4><b>Express Entry Overview</b></h4></li>
                      <li><a href="index.html">Express Entry Immigration</a></li>
                      <li><a href="index.html">Express Entry For Skilled Immigration</a></li>
                      <li><a href="index.html">Comprehensive Ranking System</a></li>
                      <li><a href="index.html">Invitation to Apply for Permanent Residence</a></li>
                      <li><a href="index.html">Business Immigration</a></li>
                      <li><a href="index.html">Canada Immigration Levels Plan</a></li>
                    </ul>
                    <div class="post-thumb col-3">
                      <a href="#"><img src="assets/img/bg-img/primetravel_immigration.png" alt=""></a>
                    </div>
                  </div>
                </li>
                <li><a href="#">Applications</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Live Chat</a></li>
                  
              </ul>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->
<div class="popular-news-area section-padding-80-50">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
  
  <!-- Main Footer Area -->
  <div class="main-footer-area">
    <div class="container">
      <div class="row">
        
        <!-- Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="footer-widget-area mt-80">
            <!-- Footer Logo -->
            <div class="footer-logo">
              <a href="index.html"><img src="assets/img/core-img/logo.png" alt=""></a>
            </div>
            <!-- List -->
            <ul class="list">
              <li><a href="mailto:contact@youremail.com">contact@360icanada.org</a></li>
              <li><a href="tel:+4352782883884">+43 5278 2883 884</a></li>
              <li><a href="http://www.360icanada.com">www.360icanada.com</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Footer Widget Area -->
        <div class="col-12 col-sm-3 col-lg-3">
          <div class="footer-widget-area mt-80">
            <!-- Title -->
            <h4 class="widget-title">Information</h4>
            <!-- List -->
            <ul class="list">
              <li><a href="#">Press release</a></li>
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Footer Widget Area -->
        <div class="col-12 col-sm-3 col-lg-3">
          <div class="footer-widget-area mt-80">
            <!-- Title -->
            <h4 class="widget-title">Important Links</h4>
            <!-- List -->
            <ul class="list">
              <li><a href="#">News</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Applcation Form</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <!-- Bottom Footer Area -->
  <div class="bottom-footer-area">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <!-- Copywrite -->
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>&nbsp;&nbsp;&nbsp;Design by Romuald YOUMSI <a href="mailto:contact@youremail.com">youmsijunior@gmail.com</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ##### Footer Area Start ##### -->  
