<div class="section-heading">
  <h6>Choose Us</h6>
</div>
<div>
  <p class="ry_p">Chère cliente, Cher Client,</p>
  <p class="ry_p">These lines to thank you for your interest in our services. <br/> As President and Founder of 360ICANADA, with my brother and sister, I can assure you that since 1995, we have been making every effort to make your immigration process a time-consuming and time-saving process. positive result.</p>
  <p class="ry_p">For us, each client is unique and the approach of your firm 360ICANADA is without any intermediary, it guarantees you a quality service for the duration of your procedure. This means fast treatment, transparent steps, constant information on your file and a variety of services to make you feel comfortable, confident and well prepared until you are accepted and then arrive in Canada.</p>
  <p class="ry_p">Of course, we are aware that you have the choice between choosing 360ICANADA and a multitude of other firms that appear regularly on the market.</p>
  <p class="ry_p">Despite the caution you have to show on these new companies, this competition pushes us to always offer you a perfect service, exclusive benefits and fees.</p>
  <p class="ry_p">With our 24 years of experience, you know that you entrust your future to a serious team that, beyond the verbal promises, has concretely enabled the acceptance of more than 47,000 families.</p>
  <p class="ry_p">Nothing is more terrible than getting involved in such a long and demanding procedure and being refused at the end of the journey for a badly mounted file or simply inadequate preparation.</p>
  <p class="ry_p">Our new Arrival Assistance service is also a professional and structured service to save you time and money during your first few weeks in Canada. Assistance for accommodation, paperwork and banking, looking for work and help for 90 days for all your questions. Our best advertising always remains your success.</p>
  <p class="ry_p">Today, we can say humbly that we have defined a quality standard for immigration. This level of quality has been created for you and improved during these 24 years. <br> We are aware that we exist by and for our clients and if you decide to go ahead with your immigration process, we will be honored with your trust and count you among our clients and future compatriots.</p>
  <p class="ry_p">With 360ICANADA, you can rest easy, I guarantee you personally. Not only on my behalf but also on behalf of the entire 360ICANADA Team.</p>
  <br><br><br>
  <p class="ry_p">Eric CHANKIO <br>President <br>360ICANADA</p>
</div>
