<div class="section-heading">
  <h6>The Initial Request</h6>
</div>
<div>
  <p class="ry_p_bold">The preliminary report is of particular importance since it will determine whether or not there is an immigration opportunity for the candidate. This is undoubtedly the most important step for a person or family considering immigration to Canada, as a long process will begin depending on the outcome.</p>
</div>

<div> 
  <p class="ry_p">We often meet clients who have had preliminary assessments done verbally or summarily in writing, giving no advice or analyzing only one of the two laws. We find it extremely serious that a simple evaluation, even if it is free, can change the future of a candidate and his family.</p>
  <p class="ry_p">For our part, we believe that such an important step should not be treated succinctly or delegated to an employee who does not have the maximum level of competence to analyze all the possibilities for each candidate. Indeed, such an analysis is based not only on the laws and their regulations, but also on the interpretation that the courts have given to the provisions of these legal texts.</p>
  <p class="ry_p">Moreover, it seems normal to us to provide each of our clients with a complete and signed explanatory report on his situation, on all the advice that will enable him to increase his total points, on the selection method, as well as on all steps that will follow.</p>
  <p class="ry_p">We also believe that it is normal for a responsible candidate to obtain such a report, so that his decision-making and the payment of the fees for his official application are not made indiscriminately or on the basis of a simple act of trust.</p>
  <p class="ry_p">It is for these reasons that we attach great importance to this step by distinguishing it from the official request and also entrusting it to highly qualified personnel. Moreover, more than 80% of our clients improve their file between the receipt of the preliminary report and the filing of the official application.</p>
  <p class="ry_p">Our reports can be updated at no cost within two years of writing. Thus, new elements can be submitted to us during this period, such as a new job, a marriage, a complementary training, etc.</p>
  <p class="ry_p">In addition, thanks to our computer system, we can prevent, by e-mail, all clients who have written a report 360ICanada and could be affected positively or negatively by a future legislative change.</p>
  <br><br>
</div>
<div> 
  <p class="ry_p_bold">Here are some of the benefits of writing your customized 360ICanada Preliminary Report:</p>

  <p class="ry_p">1.&nbsp;&nbsp;&nbsp;You will know quickly in writing, in 72 hours, if your file can allow an acceptance and if so, under what laws and under what conditions.</p>
  <p class="ry_p">2.&nbsp;&nbsp;&nbsp;You will know how many points you will reach according to the law of Quebec or Canada, for you and for your spouse, if applicable.</p>
  <p class="ry_p">3.&nbsp;&nbsp;&nbsp;You will know which category is the simplest and most appropriate for your situation.</p>
  <p class="ry_p">4.&nbsp;&nbsp;&nbsp;You will know who of you or your spouse will be the principal applicant. In fact, know, for example, that the most impressive profession is not necessarily the most in demand !</p>
  <p class="ry_p">5.&nbsp;&nbsp;&nbsp;We will rigorously evaluate the positions occupied during your career path under the different classifications and we will choose the one that maximizes your chances of success.</p>
  <p class="ry_p">6.&nbsp;&nbsp;&nbsp;You will have copies of the descriptions of the professions selected with the name in Canada, the job description and the conditions of access to the profession. These descriptions are the same as those used by immigration officers.</p>
  <p class="ry_p">7.&nbsp;&nbsp;&nbsp;Your request will be completed with precision and filed by our firm.</p>
  <p class="ry_p">8.&nbsp;&nbsp;&nbsp;You will get all possible advice, depending on your situation, to obtain more points, for each criterion and for each jurisdiction.</p>
  <p class="ry_p">9.&nbsp;&nbsp;&nbsp;You will know the exact amount of living expenses required, based on your family unit and for each possible settlement area you will need. You will avoid a refusal issued on this basis.</p>
  <p class="ry_p">10.&nbsp;&nbsp;&nbsp;You will not pay non-refundable government fees if your file does not have a chance of acceptance.</p>
  
</div>

<div class="text_note">
    In the case of a positive report, you will receive the necessary instructions so that we can take care of your official request if that is your desire. At this point, we take care of everything except gathering the documents in your possession!
</div>
