<div class="section-heading">
  <h6>Fees And Terms Of Payment</h6>
</div>
<div>
  <p class="ry_p">360iCANADA offers you two different programs:</p>
  <p class="ry_p">The program "QUALIFIED WORKERS"</p>
  <p class="ry_p">The program "BUSINESS PEOPLE" which is divided into 3 categories: The self-employed, entrepreneurs and investors.</p>
  <p class="ry_p">Please also note that we offer our clients all the services they may need upon arrival in Canada such as sponsoring their parents, spouse or obtaining citizenship as soon as conditions are met.</p>
  <p class="ry_p">ALL OUR PROGRAMS INCLUDE THE "PRIVILEGES PACK" TO KNOW:</p>
  <ul class="ry_p">
    <li>- The ACCES CANADA service ensures a rigorous and professional treatment of your immigration application, in accordance with our quality standards, in addition to the privilege of enjoying the credibility and reputation of a firm established and officially authorized to represent you with the Canadian authorities for 24 years;</li>
    <li>- Our personalized report that covers each important aspect of your immigration application and includes all possible advice and improvements, the total points obtained, the required living expenses and all the general information contained in ACCES CANADA reports.</li>
    <li>- File prepared and designed by a specialized team comprising three levels of supervision and the systematic correction of all files by a corrector before sending to the government;</li>
    <li>- Copy of the file given to our client with a sheet of notes establishing his strengths and weaknesses;</li>
    <li>- Exclusive interview guide of more than 40 pages;</li>
    <li>- Simulations to prepare our clients for the selection interview;</li>
    <li>- Follow-up of the files on Internet thanks to our service "follow-up on line" on our site;</li>
    <li>- Administrative revision of the files refused to the concerned ministry, besides several revisions of this nature make it possible to break the refusals rendered;</li>
    <li>- Guaranteed processing time of your file in 15 working days,</li>
    <li>- Follow-up of your file in relation to all our files, according to internal statistics, which makes it possible to ensure that your file follows its course normally compared to the others;</li>
    <li>- Rigorous monitoring of deadlines by government authorities with automatic recall service;</li>
    <li>- Confidential hand-held service for the reception of your mail;</li>
    <li>- "CT every week" service which means that our local office is responsible for sending your documents to our mail processing center at our expense (in some offices this service can be set up for two weeks);</li>
    <li>- Service "News of your file without even asking them!". Indeed, our server automatically sends you a few times a year, on your e-mail, an updated copy of the computer tracking of your file;</li>
    <li>- Service "It's important, it's instantaneous!" which allows, when your file has reached a milestone and its status is changed, to receive this information immediately by e-mail. For example, you will be notified within the same day of receipt of your acknowledgment of receipt, your interview notice, your acceptance without an interview, the receipt of your medical examination forms or the important arrival. your visa;</li>
    <li>- Service "special customer bulletin" which allows us to put all our customers informed of urgent news that may affect them from near or far (such as the release of a new law or a new regulation , the implications, an important communiqué of the minister etc.). Thanks to our global e-mail sending function, our customers are therefore joined directly and quickly to their e-mail address;</li>
    <li>- ACCÈS CANADA NEWS subscription:<br>Once a month, all our customers receive our ACCESS CANADA NEWS newsletter by e-mail. This 24-page journal gives you the latest news on Canada and its Francophone communities. It also contains information on the price of things in Canada and practical advice for your installation as well as information on the follow-up of ongoing files such as timeframes by region, upcoming interviews. This journal is designed and intended to prepare you properly so that your immigration project and your settlement in Canada is a success;</li>
    <li>- VIRTUAL OFFICE Service:<br>ACCESS CANADA offers its customers a totally virtual office - www.accescanadadirect.com - so that anyone living far from one of our offices can begin and complete all of its procedures remotely without even having to move. Counselors are available 7 days a week to assist you in this direction. In addition, this virtual office also allows all our customers to take information on their file by connecting via the Internet. An online counselor will answer your questions and provide you with information about your case.</li>
    
  </ul>
</div>
