<div class="section-heading">
  <h6>SERVICE D'ASSISTANCE À L'ARRIVÉE</h6>
</div>
<div>
  <p class="ry_p"> <b>Logement, emploi, formalités vous inquiètent ? Maintenant un membre de la famille ACCÈS CANADA est à votre service.</b> </p>
  
  <p class="ry_p">Les appartements sont refaits à neuf et vont du studio au 2 chambres à coucher. Complètement meublés et équipés, ils respectent la norme ACCES CANADA de qualité que nous souhaitons offrir à nos clients. Ces appartements sont offerts avec des rabais de 150 $ à 350 $ aux clients  ACCES CANADA.</p>
  <p class="ry_p"> <b>EN QUOI CONSISTE L’ASSISTANCE À L’ARRIVÉE ACCÈS CANADA</b> </p>
  <p class="ry_p"></p>
  <p class="ry_p"></p>
  
</div>
